	<section id="One" class="wrapper style3">
		<div class="inner">				
			<header class="align-center">
				<h2>Ponizej zmiany/ lista przyszlych zmian</h2>
			</header>
			
			
			 <ul>
			<li>Poprawa bezpieczenstwa(m.in. sprawdzenie wprowadzonych cen w B-E)</li>
			<li>Wykres cen par kryptowalut</li>
			<li>W wersji komercyjnej kantor</li>
			<li>Poprawa wygladu strony</li>
			<li>Dodanie nowych par</li>
			<li>Plynne dzialanie zmian cen - bez odswiezaia strony</li>
			<li>Naprawa bledu, gdzie aktualizacja danych jest wolniejsza od zaladowania sie strony</li>
			<li>Przejscie ze stateless na cookies</li>
			</ul>
		</div>
	</section>